@import '../../assets/styles/colors.scss';
.wixar-select {
  position: relative;
  cursor: pointer;
  ul.wixar-select-list {
    background-color: $white;
    list-style-type: none;
    position: absolute;
    top: 10px;
    right: -10px;
    padding: 0;
    margin: 10px;

    li {
      cursor: pointer;
      padding: 0 10px;
      margin: 5px 0;
      &:hover {
        background-color: lightgray;
      }
    }
  }
  .wixar-select-list-open {
    visibility: visible;
    height: auto;
    width: auto;
  }
  .wixar-select-list-close {
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

}