@import '../../assets/styles/colors.scss';

.wvr-app {
  .topbar {
    position: fixed;
    width: 100vw;
    height: 85px; // dependant of logo size
    background-color: $darkblue;
    z-index: 2;
  }
  .sidebar {
    background-color: $darkblue;
    position: fixed;
    width: 80px;
    height: 100%;
  }
  .content {
    margin-left: 80px;
    padding: 15px;
    padding-top: 85px; // same of topbar height
    position: relative;
  }

}