@import '../../assets/styles/colors.scss';

.wvr-app {
  .topbar {
    background-color: $darkblue;
  }
  .sidebar {
    background-color: $darkblue;
    position: fixed;
    width: 80px;
    height: 100%;
  }
  .content {
    margin-left: 80px;
    padding: 15px;
  }

}